[VERSION]
major =1
minor =0

[GENERAL]
atc_type ="Manufacturer"
atc_model ="Type"
Category = "airplane"
performance =""
editable = 1
wip_indicator = 2
icao_type_designator =TEMP
icao_manufacturer =MANUFACTURER
icao_model =Template Aircraft
icao_engine_type =Piston
icao_engine_count =1
icao_WTC =L
icao_generic=0

[PILOT]
pilot ="Pilot_Male_Casual"
copilot ="Pilot_Male_Casual"
pilot_default_animation ="Idle1_PosePropeller","","","","","","","","","","","","","","",""
copilot_default_animation ="","","","","","","","","","","","","","","",""
pilot_attach_node ="PILOT_0"
copilot_attach_node ="PILOT_1"
instructor ="Pilot_Male_Casual"

[EFFECTS]
wake =fx_wake, 0
water =fx_spray, 0
dirt =fx_tchdrt, 0
concrete =fx_sparks, 0
touchdown =fx_tchdwn_s, 1
effect.0 =NameOfNodeInBlender#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_M_REACTORHEAT_TBM930
effect.1 =NameOfNodeInBlender2#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_M_REACTORHEAT_TBM930
waterspeed=fx_spray, 0
contrail=fx_contrail_l, 0
startup=fx_engstrt, 1
landrotorwash=fx_rtr_lnd, 0
waterrotorwash=fx_rtr_wtr, 0
vaportrail_l=fx_vaportrail_l, 0
vaportrail_r=fx_vaportrail_r, 0
l_wingtipvortice=fx_wingtipvortice_l, 1
r_wingtipvortice=fx_wingtipvortice_r, 1
fueldump=, 0
EngineFire=fx_engfire, 0
EngineDamage=fx_engsmoke, 0
EngineOilLeak=fx_OilLeak, 0
SkidPavement=fx_skidmark, 0
SnowSkiTrack=, 0
WheelSnowSpray=fx_WheelSnowSpray, 0
WheelWetSpray=fx_WheelWetSpray, 0
WetEngineWash=fx_WetEngineWash, 0
SnowEngineWash=fx_SnowEngineWash, 0
WaterBallastDrain=fx_WaterBallastDrain, 0
PistonFailure=fx_PistonFailure, 1
windshield_rain_effect_available=1

[TIMELINE.FLIGHT_RUNWAY]
Flaps = 33

[LOADING]
ImageName = LOADING_FREEFLIGHT
Tips0 = "WHAT EVER YOU WANT TO SAY 1."
Tips1 = "WHAT EVER YOU WANT TO SAY 2."
Tips2 = "WHAT EVER YOU WANT TO SAY 3."
Tips3 = "WHAT EVER YOU WANT TO SAY 4."

[EXITS]
number_of_exits = 0

[IKCHAINS]
right_hand_target=""
left_hand_target=""
left_foot_target=""
right_foot_target=""

[VR]
yoke_anim_x = HANDLING_YOKE_Lever_StickLR
yoke_anim_y = HANDLING_YOKE_Lever_StickForeAft
yoke_node = Name_of_PARENT_for_Forward_Aft

;===================== FLTSIM =====================


[SERVICES]
FUELTRUCK=0
BAGGAGE_LOADER=0
CATERING_TRUCK=0
BOARDING_RAMP=0
GROUND_POWER_UNIT=0
PUSHBACK=0
SMALL_PUSHBACK=0
MARSHALLER=0
JETWAY=0
[FLTSIM.0]
Title="Aircraft Template: Default"
Model=""
Panel=""
Sound=""
Texture="BASE"
KB_Checklists=""
KB_Reference=""
description="Description Template"
wip_indicator=0
ui_manufacturer="Manufacturer"
ui_type="Model"
ui_variation="Default"
ui_typerole="Single Engine Prop"
ui_createdby="Creator"
ui_thumbnailfile=""
ui_certified_ceiling=10000
ui_max_range=1000
ui_autonomy=1
ui_fuel_burn_rate=10
atc_id="TEMP01"
icao_airline=""
atc_id_enable=0
atc_airline=""
atc_flight_number="0001"
atc_heavy=0
atc_id_color="0x00000000"
atc_id_font=""
isAirTraffic=0
isUserSelectable=1
isFlyable=1
canBeUsedByAITraffic=1
Effects=""
atc_parking_types="GATE,RAMP,CARGO"
atc_parking_codes=""
